body{
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}
 #topmenu{
    background-color: #444;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

}
nav #topmenu li{
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 24px;
    padding: 20px;
}
nav #topmenu a{
    text-decoration: none;
    color: #fff;
}
